body {
  font-family: 'Roboto',-apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
}

.banner {
  width: 1920px;
  height: 958px;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  border: 1px solid #707070;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  &-content {
    span {
      font-size: 24px;
      line-height: 42px;
      font-weight: 700;
    }

    h1 {
      font-size: 80px;
      line-height: 106px;
      font-weight: 900;
    }

    p {
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
    }
  }

  &-icon {
    li {
      margin-right: 16px;
    }

  }
}

.about {
  text-align: center;

  ul {
    margin: 0 auto;
  }

  li {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    width: 100%;

    &:nth-child(4) {
      width: 384px;
      padding-bottom: 24px;
      border-bottom: 1px solid #000;
      margin: 0 auto;
    }
  }

}

h2 {
  font-size: 64px;
  line-height: 84px;
  font-weight: 500;
}


p {
  font-size: 20px;
  line-height: 30px;
}

.brand {
  background-color: #000000;
  width: 1920px;
  height: 1406px;
  color: white;
  text-align: center;
  font-weight: 500;

  h2 {
    padding-top: 56px;
  }

  li {
    font-size: 24px;
    line-height: 42px;
  }
}

.other {
  text-align: center;
  font-weight: 500;

  &-image-three,
  &-image-two {
    display: flex;
    justify-content: center;

    a {
      text-decoration: none;
    }

    p {
      margin-top: 16px;
      color: #000;
      font-size: 20px;
      line-height: 42px;
      font-weight: 500;
    }
  }

}

footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding-bottom: 60px;

  h2 {
    padding-top: 64px;
  }
}

.bi-circle-fill {
  width: 22px;
  height: 22px;
  color: #891818;
  margin-right: 16px;
}

.d-flex {
  display: flex;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-28 {
  margin-top: 28px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-68 {
  margin-top: 68px;
}

.mt-144 {
  margin-top: 144px;
}

.ms-24 {
  margin-left: 24px;
}